GEMINI_API_KEY=AIzaSyCOPixQ7wg4pgAwd2eTNXtibLPNbSmeEeg

ACCESS_TOKEN_SECRET=6218fd30fe9096abaadd6f9ad4cfa939881cf56645a2e166fd004bf66c848ba3
REFRESH_TOKEN_SECRET=d21c207b10641a5067f6ad154097ff5cef4a7a1fcff0af194d3e89653ebdc92e

MONGODB_LIVE_URI=mongodb://deep_research:01939773554Op5tIphone16@207.244.236.91:27017/deep_research?authSource=deep_research
DB_NAME=deep_research

PINECONE_API_KEY=pcsk_2p5vMX_CSsCHdDmL3BBpwZUE1c4aSd87fStz2h3z8LHHguKf442Pn3AhFFfR3z8GLhE4nA
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=deepresearch

PORT=3000
NODE_ENV=development

GOOGLE_CUSTOM_SEARCH_ENGINE_ID=e6b5785adda0a424b

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

REDIS_HOST=localhost
REDIS_PORT=6379
RESEARCH_QUEUE_CONCURRENCY=3
RESEARCH_JOB_TIMEOUT=1800000
